body{
    margin: 0 auto;
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* header  */
.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px 0 60px;

}
.devros img{
    width: 177px;
    height: 55px;
}
.header_menu{
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 700;
    justify-content: space-around;
}
.menu{
    padding: 12px 38px;
}
a{
    color: grey;
    text-decoration-line: none;
}
a:hover{
    color: white;
}
/* skill */
.skills{
    height: 60px;
    background-color: #252525;
    font-weight: 700;
    font-size: 36px;
    padding-left: 60px;
    box-sizing: border-box;
}

.geo1{
    width: 1100px;
    padding: 10px 100px;
}
.main{
    display: flex;
    justify-content: space-around;
}

.groups{
    display: flex;
    justify-content:flex-start;
    margin: 10px 0;
}

.sub_top{
    font-size: 20px;
    font-weight: 700;
    margin: 0 50px;
}
.mini{
    width: 100px;
    border: 2px solid #353535;
}
.mini_2{
    width: 36px;
    border: 1px solid #007CED;
}
.groups img{
    margin-right: 20px;
}
.tittle_text{
    font-size: 16px;
    font-weight: 800;
}
form{
    display: flex;
    justify-content: space-between;
}
.inputs{
    display: flex;
    flex-direction: column;
}
p{
    width: 380px;
    margin: 3px 0;
    font-size: 16px;
}
.choose, textarea{
    width: 300px;
    border-color: #555555;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
} 
.choose{
    height: 35px;
    margin: 10px 50px;
    color: white;
}
button{
    width: 130px;
    height: 40px;
    margin: 10px 50px;
    background-color: inherit;
    border: 3px solid #555555;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
button:hover{
    border-color: darkblue;
}
textarea{
    height: 160px;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 57px 10px 60px;
    border-top: 1px solid grey;
}
.footer a{
    padding: 0 9px;
}