body{
    margin: 0 auto;
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* header  */
.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px 0 60px;

}
.devros img{
    width: 177px;
    height: 55px;
}
.header_menu{
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 700;
    justify-content: space-around;
}
.menu{
    padding: 12px 38px;
}
a{
    color: grey;
    text-decoration-line: none;
}
a:hover{
    color: white;
}
/* skill */
.skills{
    height: 60px;
    background-color: #252525;
    font-weight: 700;
    font-size: 36px;
    padding-left: 60px;
    box-sizing: border-box;
}
.kill{
    padding:5px 60px;
}
.sub_top{
    font-size: 20px;
    font-weight: 700;
}
.mini{
    width: 100px;
    border: 2px solid #353535;
}
.mini_2{
    width: 36px;
    border: 1px solid #007CED;
}
.main_menu{
    display: flex;
    justify-content: space-around;
    padding: 5px ;
}
.second_menu{
    padding: 5px 60px;
    /* padding-left: 60px; */
}
.second_menu a{
    padding-right: 30px;
}
.port_img{
    padding-left: 60px;
    width: 400px;
    height: 240px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 57px 10px 60px;
    border-top: 1px solid grey;
}
.footer a{
    padding: 0 9px;
}